#beam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    background-image: linear-gradient(180deg, transparent, #00ff00);
    width: 50%;
    height: 50%;
    animation: rotation .75s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
